.menu_lateral {
grid-area: menu_lateral;
}
  
.contenido {
grid-area: contenido;
}
  
.encabezado {
margin-top: 30px;
grid-area: encabezado;
display: flex;
flex: content;
justify-content: center;
}
  
.footer {
grid-area: footer;
background-color: #dbd9d9;
color: black;
border-radius: 5px;
padding: 10px;
font-size: 100%;
display: flex;
flex: content;
justify-content: center;
}
  
.tarjetas {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
gap: 20px;
}
  
.card-A {
gap: 20px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
border-radius: 5px;
img {
border-radius: 30px 30px 30px 30px;
}
}

.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.contenedor-tarjetas {
padding: 2px 16px;
}

.wrapper {
justify-content: center;
height: 100%vh;
width: 100%vw;
display: grid;
grid-gap: 6px;
grid-template-columns: 200px 32% 35%;
grid-template-areas:
"encabezado encabezado encabezado"
"menu_lateral contenido contenido"
"footer  footer  footer";
color: #dbd9d9;
}
  
.box {
background-color: #dbd9d9;
color: black;
border-radius: 5px;
padding: 10px;
font-size: 150%;    
}

.menu{
border-radius: 5px;
background-color: #dbd9d9;
color: black;
gap: 1px;
}

.menu_pa_contenedor {
display: flex;
flex-direction: column;
height: 300px;
justify-content: start;
}

.menu_hi {
padding: 0.5rem;
margin: 0.5rem;
}